.swiper.ideleSwiper {
  width: 100%;
  /* height: 100%; */
}

.swiper-slide.ideleSwiper {
  background-color: white;
  width: 70%;
  /* height: 90%; */

  position: relative;
  border-radius: 2%;
  padding: 30px;
}

.swiper-slide.ideleSwiper img {
  display: block;
  width: 100%;
}

.swiper-slide-prev.ideleSwiper {
  border-right: 10px;
}

.swiper-slide-next.ideleSwiper {
  border-right: 10px;
}

.swiper-pagination.ideleSwiper {
  position: absolute;
  bottom: 0px !important;
  transform: translateY(150%);
}

.swiper-pagination-bullet.ideleSwiper {
  width: 25px;
  height: 25px;
  background: #abd0b9;
  opacity: 1;

  box-sizing: border-box;
  border-radius: 10000px;
  margin: 0 6px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.ideleSwiper {
  background: #004f1b;
}

@media (max-height: 1000px) {
  .swiper-slide.ideleSwiper {
    /* background-color: #949694; */
    padding: 10px;
    width: 60%;
    /* height: 100%; */
  }
}

@media (max-height: 1500px) {
  .swiper-slide.ideleSwiper {
    /* background-color: #949694; */
    padding: 10px;
    width: 50%;
    /* height: 100%; */
  }
}

@media (min-height: 2000px) {
  .swiper.ideleSwiper {
    height: auto;
  }
  .swiper-slide.ideleSwiper {
    padding: 60px;
    width: 75%;
  }
}
